[merge]
  command = "nvim"
  args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[diff]
  pager = "delta"
  command = "delta"
  exclude = ["scripts"]
  args = ["--pager=0", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

{{ if eq .chezmoi.os "windows" }}
[cd]
  command = "pwsh.exe"

{{ end }}
