set-option -g mouse on
set-window-option -g mode-keys vi

bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

bind c new-window -c '#{pane_current_path}'
bind % split-window -h -c '#{pane_current_path}'
bind '"' split-window -v -c '#{pane_current_path}'

set-option -sg escape-time 10
set-option -g focus-events on
set-option -g default-terminal "screen-256color"
set-option -ga terminal-overrides ",xterm-256color:RGB"
set-option -as terminal-features ",gnome*:RGB"

set-option -g status-position top

set -g set-clipboard off
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
set -s copy-command 'wl-clip'
{{   else }}
set -s copy-command 'xclip -sel clipboard'
{{   end }}
{{ end }}

set -g @tmux_power_theme 'sky'

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'wfxr/tmux-power'

# Press prefix + I to fetch the plugin
run '~/.tmux/plugins/tpm/tpm'
