{{ if eq .chezmoi.os "windows" }}

["AppData/Local/nvim"]
type = "git-repo"
url = "https://github.com/upnt/vim-mydenops"
refreshPeriod = "24h"

{{ else }}

[".tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm"
refreshPeriod = "168h"

[".config/nvim"]
type = "git-repo"
url = "https://github.com/upnt/nvim-myastro"
refreshPeriod = "24h"

{{ end }}
