{{ if ne .chezmoi.os "windows" }}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
	
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
{{ end }}
[user]
	name = upnt
	email = upnt.github@gmail.com
	
[core]
	editor = nvim
	pager = delta
	ignorecase = false
	
[init]
	defaultBranch = main
	
[diff]
	tool = nvimdiff

[difftool]
	prompt = false

[pull]
	rebase = false
	
[remind]
	paths = {{ .chezmoi.homeDir }}/workspace/*,{{ .chezmoi.homeDir }}/.local/share/chezmoi,{{ .chezmoi.homeDir }}/.config/nvim

[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
	navigate = true    # use n and N to move between diff sections
	
	# delta detects terminal colors automatically; set one of these to disable auto-detection
	# dark = true
	# light = true

	side-by-side = true
	line-numbers = true
	features = decorations

[delta "interactive"]
	keep-plus-minus-markers = false
	
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
