#!/bin/bash

# texlive
mkdir -p "$HOME/.texlive"
if [ ! -d "$HOME/.texlive/2022" ]; then
	echo "Install texlive 2022..."
	_tmp_dir="tmp-tl-2022"
	_tmp_profile="tmp-texlive2022.profile"
	wget https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2022/install-tl-unx.tar.gz
	mkdir "$_tmp_dir" && tar xzf install-tl-unx.tar.gz -C "$_tmp_dir" --strip-components 1
	cd "$_tmp_dir" || exit
	~/.local/bin/chezmoi execute-template <"{{ .chezmoi.workingTree }}/texlive2022.profile.tmpl" >$_tmp_profile
	perl ./install-tl --profile "$_tmp_profile" --repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2022/tlnet-final/
	cd - || exit
	rm install-tl-unx.tar.gz
	rm -rf "$_tmp_dir"
	rm "$_tmp_profile"
	echo "Done."
fi

if [ ! -d "$HOME/.texlive/2025" ]; then
	echo "Install texlive 2025..."
	_tmp_dir="tmp-tl-2025"
	wget https://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz
	mkdir "$_tmp_dir" && tar xzf install-tl-unx.tar.gz -C "$_tmp_dir" --strip-components 1
	cd "$_tmp_dir" || exit
	perl ./install-tl --profile "{{ .chezmoi.workingTree }}/texlive2025.profile"
	cd - || exit
	rm install-tl-unx.tar.gz
	rm -rf "$_tmp_dir"
	echo "Done."
fi

if [ ! -e "$HOME/.texlive/shims" ]; then
	ln -s "$HOME/.texlive/2025" "$HOME/.texlive/shims" 
fi
