#!/bin/bash

LOG="/tmp/install_tex.log"

run() {
	local msg="$1"
	shift
	echo ".${msg}"
	"$@" >>"$LOG" 2>&1
}

export PLENV_ROOT="$HOME/.plenv"
export PATH="$PLENV_ROOT/bin:$PATH"
eval "$(plenv init -)"
plenv rehash
		
# texlive
export TEXLIVE_ROOT="$HOME/.texlive"
mkdir -p "$TEXLIVE_ROOT"
if [ ! -d "$TEXLIVE_ROOT/2022" ]; then
	_tmp_dir=$(mktemp -d)
	_tmp_profile=$(mktemp -u)
	
	run "Downloading texlive 2022" \
		wget https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2022/install-tl-unx.tar.gz
	tar xzf install-tl-unx.tar.gz -C "$_tmp_dir" --strip-components 1
	(
		cd "$_tmp_dir" || exit
		chezmoi execute-template <"{{ .chezmoi.workingTree }}/texlive2022.profile.tmpl" >"$_tmp_profile"
		SUDO_COMMAND="$(which perl)" run "Installing texlive 2022" \
			./install-tl --profile "$_tmp_profile" --repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2022/tlnet-final/
	)
	
	rm install-tl-unx.tar.gz
	rm -rf "$_tmp_dir"
	rm "$_tmp_profile"
fi

if [ ! -d "$TEXLIVE_ROOT/2025" ]; then
	_tmp_dir=$(mktemp -d)
	
	run "Downloading texlive 2025" \
		wget https://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz
	tar xzf install-tl-unx.tar.gz -C "$_tmp_dir" --strip-components 1
	(
		cd "$_tmp_dir" || exit
		run "Installing texlive 2025" \
		SUDO_COMMAND="$(which perl)" ./install-tl --profile "{{ .chezmoi.workingTree }}/texlive2025.profile"
	)
		
	rm install-tl-unx.tar.gz
	rm -rf "$_tmp_dir"
fi

if [ ! -e "$TEXLIVE_ROOT/shims" ]; then
	ln -s "$TEXLIVE_ROOT/2025" "$TEXLIVE_ROOT/shims" 
fi
